pysndfx
seaborn
deepspeech=0.2.0
gensim
h5py
kenlm
keras=2.2.2
librosa
lxml
matplotlib
nltk
numpy
pandas
pattern3
pydub
pygit2
python_speech_features
scipy
sklearn
soundfile
streamtologger
tabulate
tensorflow=1.10.1
tqdm
Unidecode
webrtcvad
langdetect